/* HOJA DE ESTILOS*/
/*
    body { } --> Modificacion de la entidad

    .mi_clase { } --> Creacion de una clase universal

    #mi-elemento { }  --> Creacion de clase para un unico elemento (ID)

    body.mi_clase { } --> creacion de clase para una entidad HTML

    table.mi_clase td { }  --> se aplica a los TD solo de table que tenga es clase

    table.mi_clase td p  { }  --> se aplica a los P que estan el los TD solo de table que tenga es clase

    */
#contenedor-principal{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;

}
#ventana-flotante{
    position: fixed; /*posicion fija navegador*/
    background-color: antiquewhite;
    width: 200px;
    height: 550px;
    font-size: 40px;
    text-align: center;
    top: 100px;
    left: 50px;
}
